/*便民咨询的css*/
@charset "utf-8";
/*最新咨询css*/
.bbs {
    float: left;/*让图像向右侧浮动*/
    width: 100%;
    margin-top: 20px;
    border: 1px solid #2E92CD;
    margin-bottom: 20px;
}
.bm {
    border-bottom: 1px solid #ddd;/*底部边框样式*/
    border-left: 1px solid #ddd;
}
.bm th {
    background-color: #e0eaf7;
    font-size: 14px;
    border-right: 1px solid #ddd;
}
.bm td {
    padding: 3px;
    font-size: 14px;
    border-right: 1px solid #ddd;
}
a {
    text-decoration: none;
    color: #333;
}
.bm .swi {
    background-color: #f0f1f2;
}
.page {
    float: right;
    margin-right: 10px;
}
.page li {
    float: left;
    margin-left: 10px;
    color: #666;
    line-height: 30px;
    padding-top: 5px;
}
.page li a {
    color: #666;
}
/*办理查询*/
element.style {
    display: block;
}
.errorbbs {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.errorbbs td {
    border-bottom: 1px dashed #ccc;
}
.errorbbs input[type=text] {
    height: 20px;
}