/*领导信箱和便民咨询的公共css*/
@charset "utf-8";
.right {
    width: 95%;
    margin: auto;/*简写属性在一个声明中设置所有外边距属性*/
    margin-top: 20px;/*上部边距*/
}
.right h1 {
    font-size: 24px;/*字体*/
    width: 500px;
    float: left;/*水平方向浮动*/
    font-weight: normal;/*设置文本的粗细*/
}
.right h1 span {
    font-size: 18px;
    color: #d7d6d6;
    font-family: 'Gill Sans MT';/*属性指定一个元素的字体*/
}
.bbstab {
    float: left;
    width: 810px;
    margin-top: 0px;
    position: relative;/*属性指定了元素的定位类型*/
    top: 21px;
    height: 36px;
    font-weight: normal;
}
.bbstab a:hover, .bbstab .now {
    background: url(../images/bbstab1.gif) no-repeat;
    color: #1777b5;
}
.bbstab a {
    float: left;
    margin-right: 5px;
    background: url(../images/bbstab.gif) no-repeat;
    color: #333;
    width: 110px;
    height: 36px;
    text-align: center;/*属性指定元素文本的水平对齐方式*/
    font-size: 15px;
    padding-top: 6px;
    text-decoration: none;/*属性规定添加到文本的修饰*/
}
a {
    text-decoration: none;
    color: #333;
}
.bbs {
    float: left;/*让图像向右侧浮动*/
    width: 100%;
    margin-top: 20px;
    border: 1px solid #2E92CD;
    margin-bottom: 20px;
}
.errorbbs {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.errorbbs td {
    border-bottom: 1px dashed #ccc;
}
.errorbbs input[type=text] {
    height: 20px;/*通过属性控制样式*/
}
.errorbbs textarea, .errorbbs input {
    border: 1px solid #ccc;
    font-family: "Microsoft YaHei"!important;
    color: #666;
    padding: 3px;
}
.errorbbs .sub {
    width: 90px;
    background-color: #1387d1;
    height: 32px;
    border: 0;/*设置四个边框样式*/
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
    margin-right: 20px;
}
