/*领导信箱*/
@charset "utf-8";
element.style {
    display: table;/*属性规定元素应该生成的框的类型*/
}
element.style {
    margin-top: 10px;
}
element.style {
    margin-bottom: -15px;/*下边距*/
}
.errorbbs .sub {
    width: 90px;
    background-color: #1387d1;
    height: 32px;
    border: 0;/*设置四个边框样式*/
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
    margin-right: 20px;
}
.errorbbs .check {
    width: 90px;
    background-color: #e5a305;
    height: 32px;
    border: 0;
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
    margin-right: 20px;
}